/* TODO: Ver si se requieren mas variables de colores */
@import 'tailwindcss/base';
@import './base.css';
@import 'tailwindcss/components';
@import './components.css';
@import './components/variants.css';
@import 'tailwindcss/utilities';
@import './utilities.css';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
