.indeterminate-rotate {
	animation: indeterminate-rotate 3s linear infinite normal forwards;
}

@keyframes indeterminate-rotate {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: 360deg;
	}
}

body {
	background-color: var(--color-surface-lowest);
	color: var(--color-on-surface);
}
