main > article:first-child {
	margin-top: 20px;
	border-radius: 20px 20px 0 0;
}
main > article:last-child {
	margin-bottom: 40px;
	border-radius: 0 0 20px 20px;
}
.page-content {
	display: flex;
	flex-direction: row;
	margin: 10px 0;
	& > main {
		display: flex;

		flex-direction: column;
		align-items: center;

		& > article {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 70%;
			padding: var(--spacing-2) var(--spacing-6) var(--spacing-6) var(--spacing-6);
			gap: var(--spacing-4);
			& > section {
				display: flex;
				/* view-timeline: --block;
			view-timeline-axis: inline;
			animation-timeline: view();
			animation-name: show;
			animation-range: entry 80% cover 70%;
			animation-fill-mode: both; */
				/* align-self: center; */
				/* width: fit-content; */
				max-width: 100%;
				flex-direction: column;
				/* background-color: var(--color-surface-low); */
				justify-content: center;
				gap: var(--spacing-2);
				& > div:not(.prop-container) {
					justify-self: center;
					align-items: center;
					align-self: center;
					display: flex;
					width: 100%;
					flex-wrap: wrap;
					/* width: fit-content; */
					padding: var(--spacing-4);
					gap: var(--spacing-8);
					flex-direction: row;
				}
			}
		}
	}
	& > aside {
		& > span {
			width: max-content;
			display: block;
		}
		width: 300px;
		margin-top: var(--spacing-2);
		height: fit-content;
		top: 65px;
		position: sticky;
		flex-shrink: 0;
		padding: var(--spacing-8);
		border-radius: var(--radius-xl);
		/* background-color: var(--color-surface-low); */
	}
}

@media (prefers-color-scheme: dark) {
	.page-content {
		& > main > article {
			background-color: var(--color-surface);
		}
	}
}
@media (width <= 1200px) {
	.page-content {
		& > main > article {
			width: 90%;
		}
	}
}

@media (width <= 860px) {
	.page-content {
		& aside {
			width: 200px;
		}
	}
}

@media (width <= 640px) {
	.page-content {
		flex-direction: column;
		& > aside {
			position: static;
			align-self: center;
			width: 70%;
		}
		& > main > article {
			width: 100%;
		}
	}
}
