.ui-image-container {
	height: fit-content;
	width: fit-content;
	background-color: var(--color-container);
	position: relative;
	& caption.captionInside {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	&:has(caption:not(caption.captionInside)) {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
}
.ui-image {
	opacity: 0;
	transition: opacity 0.3s ease;
}
