@import 'tailwindcss';
@theme static {
}
:root {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
	background-color: var(--background-color);
	color: var(--text-color);
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #f3f3f3;
		--text-color: #323232;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #242424;
		--text-color: #f3f3f3;
	}
}

h1 {
	font-size: var(--text-4xl);
  font-family: "Geist", sans-serif;
	font-weight: var(--font-weight-semibold);
}
h2 {
	font-size: var(--text-3xl);
  font-family: "Geist", sans-serif;
	font-weight: var(--font-weight-semibold);
}
h3 {
	font-size: var(--text-2xl);
  font-family: "Geist", sans-serif;
	font-weight: var(--font-weight-semibold);
}
h4 {
	font-size: var(--text-xl);
  font-family: "Geist", sans-serif;
	font-weight: var(--font-weight-semibold);
}
h5 {
	font-size: var(--text-lg);
  font-family: "Geist", sans-serif;
	font-weight: var(--font-weight-semibold);
}
h6 {
	font-size: var(--text-base);
  font-family: "Geist", sans-serif;
	font-weight: var(--font-weight-semibold);
}
p {
	font-size: var(--text-base);
  font-family: "Geist", sans-serif;
	font-weight: var(--font-weight-normal);
}
